*{
    margin: 0;
    padding: 0;
}
body{
    
background-color: blanchedalmond;
}
#navbar{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    column-gap: 20px;
    position: relative;

}

#logo{
    max-height:20px ;
    max-width: 40px;
    border-radius: 50%;
    position:absolute;
    left: 15px;
}

/* .hero1{
    
} */
 form{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
 }


